#main{
  background-color:#DFDFDF;
  max-width:900px;
  margin: auto;
  border-radius:10px 10px 0px 0px;
}
#title{
  text-align:center;
}
#img-div{
  background-color:aliceblue;
  float:left;
  width: 25%;
}
#image{
  max-width:100%;
  float:left;
}
#img-caption{
  font-style:italic;
}
#tribute-info{
  text-align:justify;
  font-size: 18px;
  float:left;
  width:75%;
}
#tribute-info p{
  padding: 5px 15px 0px 20px;
}
#tribute-link{
  font-weight:bold;
}

